[submodule "CSlibraries-extern/DimLVEvent"]
	path = CSlibraries-extern/DimLVEvent
	url = https://github.com/HB-GSI/DimLVEvent.git

[submodule "CSClass/CS_Core"]
	
	path = CSClass/CS_Core

	url = https://github.com/DN-GSI/CS_Core.git